* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clock-container {
	height: 100vh;
	position: relative;
	text-align: center;
}

.time, .hex {
	color: rgb(250,250,250);
	font-size: 120px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.hidden {
	display: none;
}